html, body {
    border: 0;
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: green;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.logo {
    display: flex;

    background-color: red;
    color: #000;
    font-size: xxx-large;
    padding: 20px;

    justify-content: center;
    align-items: center;
}

.nav-links a {
    color: black;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    background-color: purple;
}

.nav {
    display: flex;
    background-color: purple;
    justify-content: space-between;
    padding: 40px;
}

.nav-menu {
    display: flex;
    gap: 40px;
}

.nav-item {
    font-size: x-large;
    font-weight: bold;
}